h1 {
  color: red;
}

p, li {
    color: green;
}

li {
  list-style-type: square;
}

.special {
  color: orange;
  font-weight: bold;
}

li.special {
  color: blue;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

body h1 + p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transform: rotate(0.8turn);
}

/*The two rulesets below make a conditional background color depending on the width of the viewport*/
body {
  background-color: gold;
}

@media (min-width: 30em) {
  body {
    background-color: blue;
  }
}
