h1 {
  color: red;
}

p, li {
    color: green;
}

li {
  list-style-type: square;
}

.special {
  color: orange;
  font-weight: bold;
}

li.special {
  color: blue;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}
